* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
.boards-container {
  display: flex;
  flex-wrap: wrap;
  padding: 100px;
  column-gap: 50px;
  row-gap: 50px;
}
.lists-container {
  display: flex;
  column-gap: 50px;
  row-gap: 50px;
  overflow: auto;
  height: 80vh;
}
.error-text,
.loading-text {
  margin: 10px 0 0 50px;
  font-size: 2rem;
  color: hsl(210, 16%, 15%);
}
.link {
  text-decoration: none;
  color: black;
}
html {
  background: url("./assets/lum3n--RBuQ2PK_L8-unsplash.jpg");
  background-size: cover;
}
.card-container {
  margin-bottom: 5px;
  display: flex;
  justify-content: space-between;
  padding: 5px;
}
.modal-container {
  display: flex;
  background-color: hsl(149, 100%, 90%);
  width: 40%;
  height: fit-content;
  margin: 1% 30%;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  overflow: auto;
}
.box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 39vw;
  padding: 20px;
  /* border: 1px solid white; */
  border-radius: 10px;
  height: fit-content;
}
.add-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}
